* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background-color: #55a155;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.flexVert {
  display: flex;
  align-items: center;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  user-select: none;
  z-index: 998;
}
.fixed .technical {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.fixed .map {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 7rem;
  right: 2rem;
  background-color: #00000024;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.fixed .hiddenElement {
  display: block;
}
.fixed .chat {
  pointer-events: auto;
  user-select: auto;

  width: 420px;
}
.fixed .chat input {
  width: 100%;
  /* background-color: #00000028; */
  background-color: #00000000;
  background-image: linear-gradient(90deg, #00000028, #00000028, #00000000);
  border-radius: 4px;
  border: transparent;
  padding: 0.4rem 0.4rem;
  font-size: 1rem;
  color: white;
  outline: none;
  transition: 0.2s;
}
.fixed .chat input::placeholder {
  font-size: 1rem;
  color: #b4b4b4;
  user-select: none;
}
.fixed .chat input:hover,
.fixed .chat input:focus {
  background-image: linear-gradient(90deg, #00000040, #00000040);
}
.fixed .event {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  border-radius: 4px;
  margin-bottom: 0.4rem;
  height: 2.3rem;
  width: max-content;
  background-color: #00000028;
  max-width: 500px;
  overflow: hidden;
}
.fixed .event {
  font-size: 1rem;
  line-height: 1.5rem;
}
.fixed .event p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fixed .normal {
  color: white;
  font-weight: 400;
}
.fixed .warning {
  color: #d80000;
  font-weight: 600;
}
.fixed .event svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 4px;
  border-radius: 4px;
  stroke: #ffffff;
}
.fixed .normal svg {
  background-color: #00000057;
  fill: white;
}
.fixed .warning svg {
  background-color: #ff0000;
}
.fixed .log .expired {
  animation: logDismiss 0.5s ease-in-out forwards;
}

.fixed .technical .status {
  margin-bottom: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
.fixed .technical .status .room {
  background-color: #00000053;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  height: 1.8rem;
}
.fixed .technical .status .room #players {
  margin-left: 18px;
  position: relative;
  color: #e1e1e1;
  font-size: 1rem;
  line-height: 1rem;
}
.fixed .technical .status .room #players::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: -20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f00;
}
.fixed .status .main {
  display: flex;
  justify-content: left;
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 2rem;
}
.fixed .technical .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 0.2rem 0.8rem 0.2rem 2.7rem;
  margin-left: -2rem;
}
.fixed .technical .user {
  gap: 1rem;
  padding: 0.4rem 1.4rem 0.4rem 0.8rem;
  margin-left: 0;
  border-radius: 2rem;
  z-index: 1;
}
.fixed .technical .ping {
  text-align: right;
  background-color: #e8e8e8;
  border-radius: 2rem;
}
.fixed .technical .position {
  text-align: right;
}
.fixed .technical .box p {
  font-size: 1rem;
}
.fixed .technical .user p {
  color: #101010;
  font-weight: 500;
}
.fixed .technical .ping p {
  color: #000;
  min-width: 70px;
  font-weight: 300;
}
.fixed .technical .box svg {
  height: 1.5rem;
  width: 1.5rem;
}

.fixed .technical .ping svg {
  stroke: #000;
}
.fixed .technical .position p {
  color: #000;
  min-width: 100px;
  font-weight: 300;
}

.fixed .dev {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.fixed .dev #position {
  font-size: 1rem;
  font-weight: 600;
}
.fixed .dev #renderTime {
  font-size: 0.7rem;
}
.fixed .dev #renderedItems,
.fixed .dev #renderedPlayers {
  font-size: 1rem;
}

.fixed .openMenu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 10px;
  background-color: #d9f0fe;
  box-shadow: -4px 4px 16px #0000004a;
  border-radius: 4px;

  cursor: pointer;
  pointer-events: auto;

  transition: 0.2s;
}
.fixed .openMenu:hover {
  background-color: #caebff;
  padding: 6px;
}
.fixed .openMenu img {
  width: 100%;
  height: 100%;
}

#loadingScreen {
  width: 100%;
  height: 100vh;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: 0.3s;
  z-index: 999;
}
#loadingScreen .center h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #1b1b1b;
  margin-top: 1rem;
}
#loadingScreen .status {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  color: gray;
  font-size: 1rem;
  font-weight: 400;
}
#loadingScreen .profile {
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
#loadingScreen .profile video,
#loadingScreen .profile img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eeeeee;
}
#loadingScreen .profile .loadingIcon {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;

  border: 0.5rem solid #97acdf;
  border-left: 0.5rem solid #6781bb;
  border-radius: 50%;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  animation: spin 1s linear infinite;
}

@keyframes logDismiss {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1) rotateZ(0);
  }
  50% {
    opacity: 0;
    height: 2.3rem;
    margin-bottom: 0.4rem;
    padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  }
  100% {
    transform: translateX(-100%) scale(0.7) rotateY(-90deg);
    height: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
